:host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--theoplayer-menu-color, #fff);
    font-size: var(--theoplayer-text-font-size, 14px);
    pointer-events: none;
}

:host([hidden]) {
    display: none !important;
}

[part='heading'] {
    display: flex;
    align-self: stretch;
    align-items: center;
    pointer-events: auto;
}

[part='heading'] > span,
[part='heading'] ::slotted(span) {
    padding: var(--theoplayer-control-padding, 10px);
    padding-left: 0;
    user-select: none;
}

[part='heading'] > theoplayer-menu-close-button {
    pointer-events: auto;
}

[part='content'] {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: var(--theoplayer-menu-min-width, 80%);
    max-width: var(--theoplayer-menu-max-width, 100%);
    min-height: 0;
    max-height: 100%;
    margin: var(--theoplayer-menu-margin, 10px);
    overflow-y: auto;
    pointer-events: auto;

    --theoplayer-control-hover-background: var(--theoplayer-menu-control-hover-background, rgba(255, 255, 255, 0.3));
}
