{
    "env": {
        "targets": {
            "chrome": "47",
            "ie": "11"
        }
    },
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "loose": true
    },
    "module": {
        "type": "umd",
        "globals": {},
        "strictMode": true
    }
}
