:host {
    display: var(--theoplayer-before-first-play-display, inline-flex);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    pointer-events: auto;
    user-select: none;

    background: var(--theoplayer-control-background, transparent);
    color: var(--theoplayer-button-text-color, var(--theoplayer-text-color, #fff));

    padding: var(--theoplayer-control-padding, 10px);

    /* Vertically center any text */
    font-size: var(--theoplayer-text-font-size, 14px);
    line-height: var(--theoplayer-text-content-height, var(--theoplayer-control-height, 24px));
}

:host([hidden]) {
    display: none !important;
}

:host(:not([disabled])) {
    cursor: pointer;
}

:host(:focus) {
    box-shadow: inset 0 0 0 2px var(--theoplayer-focus-ring-color, rgba(27, 127, 204, 0.9));
    outline: 0;
}

/**
 * Hide focus ring when using mouse.
 * https://drafts.csswg.org/selectors-4/#the-focus-visible-pseudo
 *
 * Note: browsers that don't support :focus-visible will ignore this rule,
 * and will use the :focus rule above instead.
 */
:host(:focus:not(:focus-visible)) {
    box-shadow: none;
}

:host(:hover) {
    background: var(--theoplayer-control-hover-background, var(--theoplayer-control-background, transparent));
}

:host([aria-checked='true']) {
    background: var(--theoplayer-button-checked-background, #fff);
    color: var(--theoplayer-button-checked-color, #000);
}

:host([disabled]) {
    background: var(--theoplayer-control-background, transparent);
    color: var(--theoplayer-button-disabled-text-color, #ccc);
}

/* icon, play-icon, etc. */
[part~='icon'],
[part$='icon'] {
    font-size: 0; /* fixes weird extra ~1px in height */
}

svg,
img,
::slotted(svg),
::slotted(img) {
    width: var(--theoplayer-button-icon-width, var(--theoplayer-control-height, 24px));
    height: var(--theoplayer-button-icon-height, var(--theoplayer-control-height, 24px));
    transition: var(--theoplayer-button-icon-transition, none);
    color: var(--theoplayer-icon-color, #fff);
    fill: currentColor;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
}

img,
::slotted(img) {
    box-shadow: var(--theoplayer-button-icon-shadow, none);
}

svg,
::slotted(svg) {
    filter: drop-shadow(var(--theoplayer-button-icon-shadow, none));
}

:host(:hover:not([disabled])) img,
:host(:hover:not([disabled])) ::slotted(img) {
    box-shadow: var(--theoplayer-button-hover-icon-shadow, 0 0 4px rgba(255, 255, 255, 0.5));
}

:host(:hover:not([disabled])) svg,
:host(:hover:not([disabled])) ::slotted(svg) {
    filter: drop-shadow(var(--theoplayer-button-hover-icon-shadow, 0 0 4px rgba(255, 255, 255, 0.5)));
}
