:host {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-auto-rows: var(--theoplayer-debug-row-height, 20px);
    column-gap: var(--theoplayer-debug-column-gap, 5px);
    align-items: center;
    font-size: var(--theoplayer-text-font-size, 14px);
    line-height: 1em;
}

:host([hidden]) {
    display: none !important;
}

.label {
    grid-column: 1;
    white-space: nowrap;
    user-select: none;
}

.value {
    grid-column: 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
