[part='audio'],
[part='subtitles'],
theoplayer-track-radio-group {
    display: flex;
    /*
     * By default, a flex container cannot be smaller than the size of its content along the main axis.
     * However, we want to show a scroll bar instead if the container gets too small, so override its min-height.
     * https://stackoverflow.com/a/36247448/1321716
     */
    min-height: 0;
}

[part='content'] {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 0;
}

:host([has-audio][has-subtitles]) [part='content'] {
    grid-template-columns: 1fr 10px 1fr;
}

:host([has-audio][has-subtitles]) [part='audio'] {
    grid-column: 1;
}

:host([has-audio][has-subtitles]) [part='subtitles'] {
    grid-column: 3;
}

:host(:not([has-audio])) [part='audio'],
:host(:not([has-subtitles])) [part='subtitles'] {
    display: none !important;
}

[part='audio'],
[part='subtitles'] {
    align-self: stretch;
    flex-direction: column;
    text-align: center;
}

h2 {
    margin: 0 0 0.5em;
}

theoplayer-track-radio-group {
    /*
     * Show a scroll bar if the list becomes too long.
     */
    overflow-y: auto;
}
