<theoplayer-menu>
    <span slot="heading">Language</span>
    <div part="content">
        <div part="audio">
            <h2>Audio</h2>
            <theoplayer-track-radio-group track-type="audio"></theoplayer-track-radio-group>
        </div>
        <div part="subtitles">
            <h2>Subtitles</h2>
            <theoplayer-menu-button menu="text-track-style-menu">Settings</theoplayer-menu-button>
            <theoplayer-track-radio-group track-type="subtitles" show-off></theoplayer-track-radio-group>
        </div>
    </div>
</theoplayer-menu>
<theoplayer-text-track-style-menu id="text-track-style-menu"></theoplayer-text-track-style-menu>
