:host(:not([stream-type='live'])) {
    display: none !important;
}

[part='icon'] svg,
[part='icon'] ::slotted(svg) {
    fill: var(--theoplayer-live-button-color, rgb(140, 140, 140));
}

:host([live]:not([paused])) [part='icon'] svg,
:host([live]:not([paused])) [part='icon'] ::slotted(svg) {
    fill: var(--theoplayer-live-button-active-color, red);
}
