:host {
    display: inline-flex;
    box-sizing: border-box;
    vertical-align: middle;
}

slot[name='icon'] > *,
::slotted([slot='icon']) {
    opacity: 1;
    transition: opacity 0.15s;
}

:host(:not([loading])) slot[name='icon'] > *,
:host(:not([loading])) ::slotted([slot='icon']) {
    opacity: 0;
}

svg,
img,
::slotted(svg),
::slotted(img) {
    width: var(--theoplayer-loading-icon-width, 100px);
    height: var(--theoplayer-loading-icon-height, var(--theoplayer-loading-icon-width, 100px));
    fill: var(--theoplayer-loading-icon-color, var(--theoplayer-icon-color, #fff));
    vertical-align: middle;
}
