table {
    table-layout: auto;
    border-collapse: collapse;
}

table,
table tr,
table td {
    margin: 0;
    padding: 0;
}

table td > * {
    font-size: var(--theoplayer-text-font-size, 14px);
    line-height: var(--theoplayer-text-content-height, var(--theoplayer-control-height, 24px));
    padding: var(--theoplayer-control-padding, 10px);
}

table td:first-child {
    width: 0;
    white-space: nowrap;
}

table td:last-child {
    text-align: center;
}

table td > theoplayer-menu-button {
    /* Fill entire cell */
    display: flex;
}
