:host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--theoplayer-menu-color, #fff);
    pointer-events: none;

    --theoplayer-menu-heading-height: var(--theoplayer-text-content-height, var(--theoplayer-control-height, 24px));
}

:host([hidden]) {
    display: none !important;
}

[part='heading'] {
    display: flex;
    align-self: flex-start;
    align-items: center;
    font-size: var(--theoplayer-text-font-size, 14px);
    line-height: var(--theoplayer-menu-heading-height);
    pointer-events: auto;
}

[part='heading'] > span {
    user-select: none;
}

[part='heading'] > theoplayer-menu-close-button {
    pointer-events: auto;
    --theoplayer-control-height: var(--theoplayer-menu-heading-height);
}

[part='content'] {
    display: block;
    align-self: center;
    min-width: var(--theoplayer-menu-min-width, 80%);
    max-width: var(--theoplayer-menu-max-width, 100%);
    min-height: 0;
    max-height: 100%;
    padding: var(--theoplayer-menu-padding, 10px);
    pointer-events: auto;
}
