:host {
    display: block;
    box-sizing: border-box;
    color: var(--theoplayer-menu-color, #fff);
    background: var(--theoplayer-menu-background, rgba(200, 200, 200, 0.7));
    box-shadow: var(--theoplayer-menu-box-shadow, 0 5px 5px rgba(0, 0, 0, 0.25));
    max-width: 100%;
    margin: var(--theoplayer-menu-margin, 20px);
    padding: var(--theoplayer-menu-padding, 10px);
    border-radius: var(--theoplayer-menu-border-radius, 5px);
}

:host([hidden]) {
    display: none;
}

[part='heading'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
    padding: 0;
}
