:host {
    display: inline-flex; /* ignore --theoplayer-before-first-play-display */
    --theoplayer-icon-color: var(--theoplayer-play-button-icon-color, unset);
}

:host([paused]) [part='pause-icon'],
:host([ended]) [part='pause-icon'],
:host([ended]) [part='play-icon'],
:host(:not([paused])) [part='play-icon'],
:host(:not([ended])) [part='replay-icon'] {
    display: none !important;
}
