:host {
    display: inline-block;
    box-sizing: border-box;
    padding: var(--theoplayer-preview-thumbnail-padding, 2px);
    border-radius: var(--theoplayer-preview-thumbnail-padding, 2px);
    background: var(--theoplayer-preview-thumbnail-background, #fff);
}

:host([hidden]) {
    display: none !important;
}

canvas {
    display: none;
}
