:host {
    --thumb-height: var(--theoplayer-range-thumb-height, 10px);
    --track-height: var(--theoplayer-range-track-height, 4px);
    --theoplayer-range-padding: var(--theoplayer-control-padding, 10px);

    vertical-align: middle;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    background: var(--theoplayer-control-background, transparent);
    transition: background 0.15s linear;
    width: 100px;
    height: calc(var(--theoplayer-control-height, 24px) + 2 * var(--theoplayer-range-padding));
    padding-left: var(--theoplayer-range-padding-left, var(--theoplayer-range-padding));
    padding-right: var(--theoplayer-range-padding-right, var(--theoplayer-range-padding));
    pointer-events: auto;
    /* needed for vertical align issue 1px off */
    font-size: 0;
}

:host([hidden]) {
    display: none !important;
}

:host(:hover:not([disabled])) {
    background: var(--theoplayer-control-hover-background, var(--theoplayer-control-background, transparent));
}

[part='container'] {
    position: relative;
    height: 100%;
}

[part='background'],
[part='pointer'] {
    height: var(--track-height);
    border-radius: var(--theoplayer-range-track-border-radius, 0);
    position: absolute;
    top: 50%;
    transform: translate(var(--theoplayer-range-track-translate-x, 0px), calc(var(--theoplayer-range-track-translate-y, 0px) - 50%));
}

[part='background'] {
    min-width: 40px;
    width: var(--theoplayer-range-track-width, 100%);
    background: var(--theoplayer-range-track-background, rgba(255, 255, 255, 0.2));
}

[part='pointer'] {
    background: var(--theoplayer-range-track-pointer-background, transparent);
    border-right: var(--theoplayer-range-track-pointer-border-right, none);
    transition:
        visibility 0.25s,
        opacity 0.25s;
    visibility: hidden;
    opacity: 0;
}

:host(:hover:not([disabled])) [part='pointer'] {
    transition:
        visibility 0.5s,
        opacity 0.5s;
    visibility: visible;
    opacity: 1;
}

input[type='range'] {
    /* Reset */
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */

    /* Fill host with the range */
    min-height: 100%;
    width: var(--theoplayer-range-track-width, 100%); /* Specific width is required for Firefox. */

    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

@define-mixin thumb-styles {
    cursor: pointer;
    height: var(--thumb-height, auto);
    width: var(--theoplayer-range-thumb-width, 10px);
    border: var(--theoplayer-range-thumb-border, none);
    border-radius: var(--theoplayer-range-thumb-border-radius, 10px);
    background: var(--theoplayer-range-thumb-background, #fff);
    box-shadow: var(--theoplayer-range-thumb-box-shadow, 1px 1px 1px transparent);
    transition: var(--theoplayer-range-thumb-transition, none);
    transform: var(--theoplayer-range-thumb-transform, none);
    opacity: var(--theoplayer-range-thumb-opacity, 1);
}

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    @mixin thumb-styles;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    margin-top: calc(calc(0px - var(--thumb-height) + var(--track-height)) / 2);
}

/* The thumb is not positioned relative to the track in Firefox */
input[type='range']::-moz-range-thumb {
    @mixin thumb-styles;
    translate: var(--theoplayer-range-track-translate-x, 0) var(--theoplayer-range-track-translate-y, 0);
}

input[type='range']::-ms-thumb {
    @mixin thumb-styles;
}

@define-mixin thumb-styles-disabled {
    display: none;
}

:host([disabled]) input[type='range']::-webkit-slider-thumb {
    @mixin thumb-styles-disabled;
}

:host([disabled]) input[type='range']::-moz-range-thumb {
    @mixin thumb-styles-disabled;
}

:host([disabled]) input[type='range']::-ms-thumb {
    @mixin thumb-styles-disabled;
}

@define-mixin track-styles {
    cursor: pointer;
    width: var(--theoplayer-range-track-width, 100%);
    min-width: 40px;
    height: var(--track-height);
    border: var(--theoplayer-range-track-border, none);
    outline: var(--theoplayer-range-track-outline);
    outline-offset: var(--theoplayer-range-track-outline-offset);
    border-radius: var(--theoplayer-range-track-border-radius, 0);
    background: var(--theoplayer-range-track-progress-internal, var(--theoplayer-range-bar-color, #fff));
    box-shadow: var(--theoplayer-range-track-box-shadow, none);
    transition: var(--theoplayer-range-track-transition, none);
    transform: translate(var(--theoplayer-range-track-translate-x, 0), var(--theoplayer-range-track-translate-y, 0));
}

input[type='range']::-webkit-slider-runnable-track {
    @mixin track-styles;
}

input[type='range']::-moz-range-track {
    @mixin track-styles;
}

input[type='range']::-ms-track {
    /* Reset */
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;

    @mixin track-styles;
}

input[type='range']::-ms-fill-lower,
input[type='range']::-ms-fill-upper,
input[type='range']::-ms-tooltip {
    display: none;
}

@define-mixin track-styles-disabled {
    cursor: default;
}

:host([disabled]) input[type='range']::-webkit-slider-runnable-track {
    @mixin track-styles-disabled;
}

:host([disabled]) input[type='range']::-moz-range-track {
    @mixin track-styles-disabled;
}

:host([disabled]) input[type='range']::-ms-track {
    @mixin track-styles-disabled;
}

input[type='range']:focus {
    box-shadow: inset 0 0 0 2px var(--theoplayer-focus-ring-color, rgba(27, 127, 204, 0.9));
    outline: 0;
}

input[type='range']:focus:not(:focus-visible) {
    box-shadow: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
    outline: 0;
}
