<theoplayer-menu>
    <span slot="heading"><slot name="heading">Settings</slot></span>
    <div class="theoplayer-menu-table">
        <span>Quality</span>
        <theoplayer-active-quality-menu-button menu="quality-menu"></theoplayer-active-quality-menu-button>
        <span>Playback speed</span>
        <theoplayer-playback-rate-menu-button menu="playback-rate-menu"></theoplayer-playback-rate-menu-button>
    </div>
</theoplayer-menu>
<theoplayer-menu id="quality-menu" menu-close-on-input hidden>
    <span slot="heading">Quality</span>
    <theoplayer-quality-radio-group></theoplayer-quality-radio-group>
</theoplayer-menu>
<theoplayer-menu id="playback-rate-menu" menu-close-on-input hidden>
    <span slot="heading">Playback speed</span>
    <theoplayer-playback-rate-radio-group>
        <theoplayer-radio-button value="0.25">0.25x</theoplayer-radio-button>
        <theoplayer-radio-button value="0.5">0.5x</theoplayer-radio-button>
        <theoplayer-radio-button value="1">Normal</theoplayer-radio-button>
        <theoplayer-radio-button value="1.25">1.25x</theoplayer-radio-button>
        <theoplayer-radio-button value="1.5">1.5x</theoplayer-radio-button>
        <theoplayer-radio-button value="2">2x</theoplayer-radio-button>
    </theoplayer-playback-rate-radio-group>
</theoplayer-menu>
