.theoplayer-settings-menu-content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto auto;
}

.theoplayer-settings-menu-content > * {
    align-self: center;
    font-size: var(--theoplayer-text-font-size, 14px);
    line-height: var(--theoplayer-text-content-height, var(--theoplayer-control-height, 24px));
    padding: var(--theoplayer-control-padding, 10px);
}

.theoplayer-settings-menu-content > span {
    display: block;
    grid-column: 1;
}

.theoplayer-settings-menu-content > theoplayer-active-quality-menu-button,
.theoplayer-settings-menu-content > theoplayer-playback-rate-menu-button {
    grid-column: 2;
}

.theoplayer-settings-menu-content > span ~ span,
.theoplayer-settings-menu-content > theoplayer-playback-rate-menu-button {
    grid-row: 2;
}
