<theoplayer-menu>
    <span slot="heading">Subtitle options</span>
    <div class="theoplayer-menu-table">
        <span>Font family</span>
        <theoplayer-menu-button menu="font-family-menu">Sans serif</theoplayer-menu-button>
        <span>Font color</span>
        <theoplayer-menu-button menu="font-color-menu">White</theoplayer-menu-button>
        <span>Font size</span>
        <theoplayer-menu-button menu="font-size-menu">100%</theoplayer-menu-button>
        <span>Background color</span>
        <theoplayer-menu-button menu="background-color-menu">Default</theoplayer-menu-button>
        <span>Window color</span>
        <theoplayer-menu-button menu="window-color-menu">Default</theoplayer-menu-button>
        <span>Character edge style</span>
        <theoplayer-menu-button menu="edge-style-menu">Default</theoplayer-menu-button>
    </div>
</theoplayer-menu>
<theoplayer-menu id="font-family-menu" menu-close-on-input hidden>
    <span slot="heading">Font family</span>
    <theoplayer-text-track-style-radio-group property="fontFamily">
        <theoplayer-radio-button>Default</theoplayer-radio-button>
        <theoplayer-radio-button value='"Courier New", Courier, "Nimbus Mono L", "Cutive Mono", monospace'>Monospace Serif</theoplayer-radio-button>
        <theoplayer-radio-button value='"Times New Roman", Times, Georgia, Cambria, "PT Serif Caption", serif'
            >Proportional Serif</theoplayer-radio-button
        >
        <theoplayer-radio-button value='"Deja Vu Sans Mono", "Lucida Console", Monaco, Consolas, "PT Mono", monospace'
            >Monospace Sans</theoplayer-radio-button
        >
        <theoplayer-radio-button value='Arial, Helvetica, Verdana, "PT Sans Caption", sans-serif'>Proportional Sans</theoplayer-radio-button>
    </theoplayer-text-track-style-radio-group>
</theoplayer-menu>
<theoplayer-menu id="font-color-menu" menu-close-on-input hidden>
    <span slot="heading">Font color</span>
    <theoplayer-text-track-style-radio-group property="fontColor">
        <theoplayer-radio-button>Default</theoplayer-radio-button>
        <theoplayer-radio-button value="#ffffff">White</theoplayer-radio-button>
        <theoplayer-radio-button value="#ffff00">Yellow</theoplayer-radio-button>
        <theoplayer-radio-button value="#00ff00">Green</theoplayer-radio-button>
        <theoplayer-radio-button value="#00ffff">Cyan</theoplayer-radio-button>
        <theoplayer-radio-button value="#0000ff">Blue</theoplayer-radio-button>
        <theoplayer-radio-button value="#ff00ff">Magenta</theoplayer-radio-button>
        <theoplayer-radio-button value="#ff0000">Red</theoplayer-radio-button>
        <theoplayer-radio-button value="#000000">Black</theoplayer-radio-button>
    </theoplayer-text-track-style-radio-group>
</theoplayer-menu>
<theoplayer-menu id="font-size-menu" menu-close-on-input hidden>
    <span slot="heading">Font size</span>
    <theoplayer-text-track-style-radio-group property="fontSize">
        <theoplayer-radio-button>Default</theoplayer-radio-button>
        <theoplayer-radio-button value="50%">50</theoplayer-radio-button>
        <theoplayer-radio-button value="75%">75</theoplayer-radio-button>
        <theoplayer-radio-button value="100%">100</theoplayer-radio-button>
        <theoplayer-radio-button value="150%">150%</theoplayer-radio-button>
        <theoplayer-radio-button value="200%">200%</theoplayer-radio-button>
    </theoplayer-text-track-style-radio-group>
</theoplayer-menu>
<theoplayer-menu id="background-color-menu" menu-close-on-input hidden>
    <span slot="heading">Background color</span>
    <theoplayer-text-track-style-radio-group property="backgroundColor">
        <theoplayer-radio-button>Default</theoplayer-radio-button>
        <theoplayer-radio-button value="#ffffff">White</theoplayer-radio-button>
        <theoplayer-radio-button value="#ffff00">Yellow</theoplayer-radio-button>
        <theoplayer-radio-button value="#00ff00">Green</theoplayer-radio-button>
        <theoplayer-radio-button value="#00ffff">Cyan</theoplayer-radio-button>
        <theoplayer-radio-button value="#0000ff">Blue</theoplayer-radio-button>
        <theoplayer-radio-button value="#ff00ff">Magenta</theoplayer-radio-button>
        <theoplayer-radio-button value="#ff0000">Red</theoplayer-radio-button>
        <theoplayer-radio-button value="#000000">Black</theoplayer-radio-button>
    </theoplayer-text-track-style-radio-group>
</theoplayer-menu>
<theoplayer-menu id="window-color-menu" menu-close-on-input hidden>
    <span slot="heading">Window color</span>
    <theoplayer-text-track-style-radio-group property="windowColor">
        <theoplayer-radio-button>Default</theoplayer-radio-button>
        <theoplayer-radio-button value="#ffffff">White</theoplayer-radio-button>
        <theoplayer-radio-button value="#ffff00">Yellow</theoplayer-radio-button>
        <theoplayer-radio-button value="#00ff00">Green</theoplayer-radio-button>
        <theoplayer-radio-button value="#00ffff">Cyan</theoplayer-radio-button>
        <theoplayer-radio-button value="#0000ff">Blue</theoplayer-radio-button>
        <theoplayer-radio-button value="#ff00ff">Magenta</theoplayer-radio-button>
        <theoplayer-radio-button value="#ff0000">Red</theoplayer-radio-button>
        <theoplayer-radio-button value="#000000">Black</theoplayer-radio-button>
    </theoplayer-text-track-style-radio-group>
</theoplayer-menu>
<theoplayer-menu id="edge-style-menu" menu-close-on-input hidden>
    <span slot="heading">Character edge style</span>
    <theoplayer-text-track-style-radio-group property="edgeStyle">
        <theoplayer-radio-button>Default</theoplayer-radio-button>
        <theoplayer-radio-button value="none">None</theoplayer-radio-button>
        <theoplayer-radio-button value="dropshadow">Drop shadow</theoplayer-radio-button>
        <theoplayer-radio-button value="raised">Raised</theoplayer-radio-button>
        <theoplayer-radio-button value="depressed">Depressed</theoplayer-radio-button>
        <theoplayer-radio-button value="uniform">Uniform</theoplayer-radio-button>
    </theoplayer-text-track-style-radio-group>
</theoplayer-menu>
