:host {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    pointer-events: auto;
    user-select: none;

    background: var(--theoplayer-control-background, rgba(20, 20, 30, 0.7));

    padding: var(--theoplayer-control-padding, 10px);

    /* Vertically center any text */
    font-size: 14px;
    line-height: var(--theoplayer-text-content-height, var(--theoplayer-control-height, 24px));
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
    pointer-events: auto;
}
