:host {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    pointer-events: auto;
    user-select: none;
    padding: var(--theoplayer-control-padding, 10px);

    text-align: center;
    color: var(--theoplayer-text-color, #fff);
    background: var(--theoplayer-control-background, transparent);

    /* Vertically center any text */
    font-size: var(--theoplayer-text-font-size, 14px);
    line-height: var(--theoplayer-text-content-height, var(--theoplayer-control-height, 24px));
}
