input[type='range'] {
    /*
     * Do not mirror media playback buttons and the media progress indicator
     * as they refer to the direction of tape being played, not the direction of time.
     * https://m2.material.io/design/usability/bidirectionality.html#mirroring-elements
     */
    direction: ltr;
}

.theoplayer-time-range-preview-rail {
    position: absolute;
    left: 0;
    bottom: 100%;
    /*
     * Use tiny percent width so we can still use percentages in translateX(), without overflowing parent.
     * Fix it by multiplying by 100 again when setting translateX().
     */
    width: 1%;
    pointer-events: none;

    transition: visibility 0.25s, opacity 0.25s;
    visibility: hidden;
    opacity: 0;
}

:host(:hover) .theoplayer-time-range-preview-rail {
    transition: visibility 0.5s, opacity 0.5s;
    visibility: visible;
    opacity: 1;
}

[part~='box'] {
    position: absolute;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);

    font-size: var(--theoplayer-text-font-size, 14px);
    line-height: var(--theoplayer-text-content-height, var(--theoplayer-control-height, 24px));
    text-shadow: var(--theoplayer-preview-text-shadow, 0 0 4px rgba(0, 0, 0, 0.75));
}
