:host,
theoplayer-radio-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

:host {
    /*
     * Show a scroll bar if the list becomes too long.
     */
    overflow-y: auto;
}

:host([hidden]) {
    display: none !important;
}
