:host {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
}
