:host {
    box-sizing: border-box;
    position: relative;
    display: inline-block;

    --theoplayer-control-background: transparent;
    --theoplayer-control-hover-background: transparent;
    --theoplayer-button-hover-icon-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

:host([hidden]) {
    display: none !important;
}

theoplayer-ui {
    width: 100%;
}

[part='centered-chrome'] > * {
    --theoplayer-control-height: 48px;
}

[part='bottom-chrome'] {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

[part='bottom-chrome']::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(to bottom, transparent, black);
    pointer-events: none;
}

.spacer {
    flex-grow: 1;
}

theoplayer-volume-range {
    --theoplayer-range-padding-left: 0;
}

theoplayer-mute-button + theoplayer-volume-range {
    width: 0;
    overflow: hidden;
    --theoplayer-range-padding-right: 0;

    /* Set the internal width so it reveals, not grows */
    --theoplayer-range-track-width: 70px;
    transition: width 0.2s ease-in;
}

/* Expand volume control in all relevant states */
theoplayer-mute-button:hover + theoplayer-volume-range,
theoplayer-mute-button:focus + theoplayer-volume-range,
theoplayer-mute-button + theoplayer-volume-range:hover,
theoplayer-mute-button + theoplayer-volume-range:focus {
    width: 70px;
}

/* IE doesn't support :focus-within, so keep these separate (and use a polyfill?) */
theoplayer-mute-button:focus-within + theoplayer-volume-range,
theoplayer-mute-button + theoplayer-volume-range:focus-within {
    width: 70px;
}
