:host {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    min-width: var(--theoplayer-min-width, 300px);

    container-name: theoplayer-default-ui-container;
    container-type: inline-size;
}

:host([hidden]) {
    display: none !important;
}

theoplayer-ui {
    width: 100%;
    display: block;
}

:host(:fullscreen),
:host(:fullscreen) theoplayer-ui {
    width: 100% !important;
    height: 100% !important;
}

[part='title'] {
    user-select: none;
    color: var(--theoplayer-text-color, #fff);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    padding: var(--theoplayer-control-padding, 10px);

    /* Vertically center any text */
    font-size: var(--theoplayer-text-font-size, 14px);
    line-height: var(--theoplayer-text-content-height, var(--theoplayer-control-height, 24px));
}

[part='centered-chrome'] {
    display: flex;
}

[part='centered-chrome'] *,
[part='centered-chrome'] ::slotted(*) {
    --theoplayer-button-icon-width: var(--theoplayer-centered-chrome-button-icon-width, 48px);
    --theoplayer-control-height: var(--theoplayer-centered-chrome-control-height, 48px);
    --theoplayer-play-button-icon-color: var(--theoplayer-center-play-button-icon-color, unset);
}

[part='middle-chrome'] {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    /* Align to bottom for Chromecast display */
    justify-content: flex-end;
    flex-grow: 1;
    pointer-events: none;
}

[part='bottom-chrome'] {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    pointer-events: none;
}

/*
 * On mobile, put a backdrop color on the entire player when showing controls.
 */
:host([mobile]) theoplayer-ui {
    --theoplayer-control-backdrop-background: var(--theoplayer-mobile-control-backdrop-background, rgba(0, 0, 0, 0.5));
}

/*
 * On desktop, put a soft gradient behind the top and bottom control bars.
 */
:host {
    /*
     * Smooth transparent-to-black gradient from Chrome's <video> controls.
     * See: https://bugs.chromium.org/p/chromium/issues/detail?id=1404684
     */
    /* prettier-ignore */
    --theoplayer-control-background-gradient-stops: rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.01) 8.1%,
    rgba(0, 0, 0, 0.037) 15.5%,
    rgba(0, 0, 0, 0.078) 22.5%,
    rgba(0, 0, 0, 0.131) 29%,
    rgba(0, 0, 0, 0.195) 35.3%,
    rgba(0, 0, 0, 0.264) 41.2%,
    rgba(0, 0, 0, 0.337) 47.1%,
    rgba(0, 0, 0, 0.413) 52.9%,
    rgba(0, 0, 0, 0.486) 58.8%,
    rgba(0, 0, 0, 0.555) 64.7%,
    rgba(0, 0, 0, 0.619) 71%,
    rgba(0, 0, 0, 0.672) 77.5%,
    rgba(0, 0, 0, 0.713) 84.5%,
    rgba(0, 0, 0, 0.74) 91.9%,
    rgba(0, 0, 0, 0.75) 100%;
}

:host(:not([mobile])) [part='top-chrome']::before,
:host(:not([mobile])) [part='bottom-chrome']::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
}

:host(:not([mobile])) [part='top-chrome']::before {
    background: linear-gradient(to top, var(--theoplayer-control-background-gradient-stops));
}

:host(:not([mobile])) [part='bottom-chrome']::before {
    background: linear-gradient(to bottom, var(--theoplayer-control-background-gradient-stops));
}

.theoplayer-spacer {
    flex-grow: 1;
}

theoplayer-time-range {
    --theoplayer-control-height: var(--theoplayer-time-range-control-height, 12px);
    --theoplayer-range-track-pointer-background: var(--theoplayer-time-range-track-pointer-background, rgba(255, 255, 255, 0.5));
}

[part='ad-chrome'] {
    --theoplayer-control-height: var(--theoplayer-ad-chrome-control-height, 12px);
    align-items: flex-end;
    pointer-events: none;
}

theoplayer-ad-display,
theoplayer-ad-skip-button {
    flex-shrink: 0;
}

theoplayer-ad-countdown,
theoplayer-ad-skip-button[disabled] {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

theoplayer-ad-countdown {
    min-width: 0;
}

theoplayer-ad-skip-button {
    border-right: 0 !important;
    /**
     * Align skip countdown to the bottom right.
     */
    align-items: end;
    justify-items: end;
    /*
     * Make "Skip Ads" text bigger.
     */
    --theoplayer-ad-skip-font-size: calc(1.25 * var(--theoplayer-text-font-size, 14px));
    --theoplayer-ad-skip-line-height: calc(1.25 * var(--theoplayer-text-content-height, var(--theoplayer-control-height, 24px)));
    --theoplayer-ad-skip-icon-width: 24px;
    --theoplayer-ad-skip-icon-height: 24px;
}

/*
 * Mobile-only and mobile-hidden elements
 */
:host([mobile]) [mobile-hidden],
:host([mobile]) theoplayer-control-bar ::slotted([mobile-hidden]),
:host(:not([mobile])) [mobile-only],
:host(:not([mobile])) theoplayer-control-bar ::slotted([mobile-only]) {
    display: none !important;
}

/*
 * TV-only and TV-hidden elements
 */
:host([tv]) [tv-hidden],
:host([tv]) theoplayer-control-bar ::slotted([tv-hidden]),
:host(:not([tv])) [tv-only],
:host(:not([tv])) theoplayer-control-bar ::slotted([tv-only]) {
    display: none !important;
}

/*
 * Live-only and live-hidden elements
 */
:host(:not([stream-type='vod'])) [live-hidden],
:host(:not([stream-type='vod'])) theoplayer-control-bar ::slotted([live-hidden]),
:host([stream-type='vod']) [live-only],
:host([stream-type='vod']) theoplayer-control-bar ::slotted([live-only]) {
    display: none !important;
}

/*
 * Ad-only and ad-hidden elements
 */
theoplayer-ui[playing-ad] [ad-hidden],
theoplayer-ui[playing-ad] theoplayer-control-bar ::slotted([ad-hidden]),
theoplayer-ui:not([playing-ad]) [ad-only],
theoplayer-ui:not([playing-ad]) theoplayer-control-bar ::slotted([ad-only]) {
    display: none !important;
}

/*
 * Hide all controls before first play, except for the center play button
 * (even when it's inside a slot).
 */
theoplayer-ui:not([has-first-play]) theoplayer-control-bar {
    display: none !important;
}
theoplayer-ui:not([has-first-play]),
theoplayer-ui:not([has-first-play]) ::slotted(*) {
    --theoplayer-before-first-play-display: none;
}

/*
 * Hide center play button on desktop after first play
 */
:host(:not([mobile])) theoplayer-ui[has-first-play] [part~='center-play-button'] {
    display: none !important;
}

/**
 * When player is very small, show only center play button (on desktop)
 */
@container theoplayer-default-ui-container (max-width: 200px) {
    :host(:not([mobile])) theoplayer-control-bar {
        display: none !important;
    }

    :host(:not([mobile])) theoplayer-ui[has-first-play] [part~='center-play-button'] {
        display: inline-flex !important;
    }
}

/*
 * Hide ad clickthrough button on desktop, unless we're casting
 */
theoplayer-ui:not([mobile]):not([casting]) theoplayer-ad-clickthrough-button {
    display: none !important;
}

theoplayer-volume-range {
    --theoplayer-range-padding-left: 0;
}

theoplayer-mute-button + theoplayer-volume-range {
    width: 0;
    overflow: hidden;
    --theoplayer-range-padding-right: 0;

    /* Set the internal width so it reveals, not grows */
    --theoplayer-range-track-width: var(--theoplayer-volume-range-track-width, 70px);
    transition: width 0.2s ease-in;
}

/* Expand volume control in all relevant states */
theoplayer-mute-button:hover + theoplayer-volume-range,
theoplayer-mute-button:focus + theoplayer-volume-range,
theoplayer-mute-button + theoplayer-volume-range:hover,
theoplayer-mute-button + theoplayer-volume-range:focus {
    width: 70px;
}

/* IE doesn't support :focus-within, so keep these separate (and use a polyfill?) */
theoplayer-mute-button:focus-within + theoplayer-volume-range,
theoplayer-mute-button + theoplayer-volume-range:focus-within {
    width: 70px;
}

/* Reduce space between live button and remaining time display */
theoplayer-live-button + theoplayer-time-display:not([stream-type='vod']) {
    padding-left: 0;
}

/* Hide remaining time display when playing at live edge */
theoplayer-live-button[live] + theoplayer-time-display {
    display: none !important;
}

/* Use smaller playback controls while playing an ad */
theoplayer-ui[playing-ad] .theoplayer-ad-control {
    --theoplayer-control-height: var(--theoplayer-ad-control-height, 16px);
}
