/* Full window */
html.theoplayer-ui-full-window {
    overflow: hidden !important;

    & > body {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}
