:host {
    box-sizing: border-box;
    position: relative;
    width: 600px;
    height: 400px;
    display: inline-block;
    background-color: var(--theoplayer-background-color, #000);
}

:host([hidden]) {
    display: none;
}

[part~='layer'] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

[part~='layer']:not([part~='media-layer']) {
    display: flex;
    background: none;
}

[part~='media-layer'],
[part~='poster-layer'] {
    pointer-events: none;
}

[part~='vertical-layer'] {
    flex-flow: column nowrap;
    align-items: stretch;
}

[part~='centered-layer'] {
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

[part~='middle'] {
    display: inline;
    flex-grow: 1;
    background: none;
}

:host(:not([menu-opened])) [part~='menu-layer'],
:host([menu-opened]) [part~='vertical-layer'] {
    display: none !important;
}
