:host {
    box-sizing: border-box;
    position: relative;
    width: 600px;
    height: 400px;
    display: inline-block;
    background-color: var(--theoplayer-background-color, #000);
}

:host([hidden]) {
    display: none !important;
}

/* Safari and IE need this to actually make the element fill the window */
:host(:fullscreen) {
    /* Needs to use !important otherwise easy to break */
    width: 100% !important;
    height: 100% !important;
}

[part~='layer'] {
    position: absolute;
    inset: 0;
    z-index: 0;
}

[part~='layer']:not([part~='media-layer']),
[part~='chrome'] {
    display: flex;
}

[part~='media-layer'],
[part~='poster-layer'] {
    pointer-events: none;
}

[part~='vertical-layer'],
[part~='chrome'] {
    flex-flow: column nowrap;
    align-items: stretch;
}

[part~='centered-layer'] {
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

[part~='middle'] {
    display: inline;
    flex-grow: 1;
}

[part~='menu-layer'] {
    align-items: center;
    justify-content: center;
    background-color: var(--theoplayer-menu-backdrop-background-color, rgba(0, 0, 0, 0.5));
}

:host(:not([menu-opened])) [part~='menu-layer'],
:host([menu-opened]) [part~='vertical-layer'] {
    display: none !important;
}

theoplayer-control-bar,
[part~='chrome'] ::slotted(theoplayer-control-bar) {
    align-self: stretch;
}
