:host {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    min-width: 300px;
    height: 0;
    padding-bottom: 56.25%;
    background-color: var(--theoplayer-background-color, #000);
}

:host([hidden]) {
    display: none !important;
}

@define-mixin fullscreen-styles {
    /* Needs to use !important otherwise easy to break */
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
}

:host([fullscreen]) {
    @mixin fullscreen-styles;
}

/* Safari and IE need this to actually make the element fill the window */
:host(:fullscreen) {
    @mixin fullscreen-styles;
}
}

[part~='chrome'] {
    position: relative;
}

[part~='layer'] {
    position: absolute;
    inset: 0;
    z-index: 0;
}

[part~='layer']:not([part~='media-layer']),
[part~='chrome'] {
    display: flex;
}

/*
 * Disable pointer events on all layers,
 * but re-enable them on all elements slotted into those layers.
 */
[part~='gesture-layer'],
[part~='vertical-layer'],
[part~='chrome'] {
    pointer-events: none;
}

[part~='chrome'] ::slotted(*) {
    pointer-events: auto;
}

[part~='vertical-layer'],
[part~='chrome'] {
    flex-flow: column nowrap;
    align-items: stretch;
}

[part~='centered'] {
    align-items: center;
    justify-content: center;
}

[part~='middle'] {
    display: inline;
    flex-grow: 1;
}

[part~='menu-layer'] {
    background-color: var(--theoplayer-menu-backdrop-background-color, rgba(0, 0, 0, 0.5));
}

[part~='menu-layer'] ::slotted(*) {
    align-self: stretch;
    justify-self: stretch;
    flex-grow: 1;
}

:host(:not([menu-opened])) [part~='menu-layer'],
:host([menu-opened]) [part~='vertical-layer'] {
    display: none !important;
}

[part~='error-layer'] {
    align-items: center;
    justify-content: center;
    background-color: var(--theoplayer-error-background-color, rgba(0, 0, 0, 0.5));
}

:host(:not([has-error])) [part~='error-layer'],
:host([has-error]) [part~='layer']:not([part~='media-layer']):not([part~='error-layer']) {
    display: none !important;
}

[part~='chrome'] ::slotted(theoplayer-control-bar) {
    align-self: stretch;
}

theoplayer-gesture-receiver {
    flex-grow: 1;
}

/*
 * Mobile-only and mobile-hidden elements
 */
:host([mobile]) [part~='chrome'] ::slotted([mobile-hidden]),
:host(:not([mobile])) [part~='chrome'] ::slotted([mobile-only]) {
    display: none !important;
}

/*
 * Hide cursor when user is idle
 */
:host([user-idle]:not([paused]):not([casting])) {
    cursor: none;
}

/*
 * Auto-hide elements when user is idle
 */
:host([user-idle]:not([paused]):not([casting])) [part~='chrome'] ::slotted(:not([no-auto-hide])) {
    opacity: 0;
    transition: opacity 1s;
}
